---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Markdown from "./markdown.md";
import Container from "../components/Container.astro";
import Module from "./module.md";
import Imagecontainer from "../components/Imagecontainer.astro";
import Card from "../components/Card.astro";
import SecondCard from "../components/SecondCard.astro";
import img from "../components/Images/Avatar.png";
import image from "../components/Images/image.png";
import software from "../components/Images/software.jpg";
import ai from "../components/Images/ai.png";
import cse from "../components/Images/BE-Computer-Science.png";
import course from "../components/Images/coursecompletion.jpg";
---

<Layout title="Welcome to CodingBridge.">
  <main class="h-screen">
    <Header />

    //svg
    <div class="flex justify-center mx-10">
      <img
        src={img.src}
        alt="Bootcamp"
        class="dark:invert mx:auto max-w-xl"
      />
    </div>

    //purpose
    <h1 class = "text-white justify-center flex text-3xl md : text-2xl">Purpose</h1>
    <br />
    <h2
      class="text-2xl md:text-xl tracking-wider max-w-4xl mx-auto mb-10 dark:text-white text-center"
    >
    Teaching 1st Year Engineering students C Language basics for Computer Science and coding skills.
    </h2>

    //course content
    <div
      class="w-2/3 md:w-2/4 text-white mx-auto text-left bg-neutral-800 p-10"
    >
      <Markdown />
    </div>

    //about instructor
    <Container
      title="Meet the Instructor"
      subtitle="Rohini Kumar Barla"
      content="Hello I'm Rohini kumar Barla,With over 10 years of industry experience,Throughout my career, I've been dedicated to empowering individuals to excel in software development, having mentored and guided hundreds of aspiring developers.With a strong foundation in education, holding an M.Tech from IIT Kanpur, and having worked extensively in renowned product companies including Microsoft, I am deeply passionate about bridging the gap between academia and industry.As an educator, I specialize in conducting coding bridge courses, where I leverage my industry insights and hands-on experience to equip learners with the practical skills needed to thrive in the ever-evolving tech landscape "
      link1={{
        href: "https://rohinibarla.com/",
        text: "Know more about me",
      }}
    />

    <div
      class="bg-zinc-50 dark:bg-zinc-800 py-16 sm:py-24 lg:py-20 max-w-3xl mx-auto px-10 mt-10 text-white"
    >
      <Module />
    </div>

    //outcomes
    <p class="mt-20 text-2xl font-extrabold text-white flex justify-center">
      Course Outcomes
    </p>

    <Imagecontainer
      title="Course Outcomes"
      images={[image.src, software.src, cse.src, ai.src, course.src]}
      ;
      text={[
        "Easy build logic in coding",
        "Gain Knowlege about the software world",
        "Ace any coding subjects in your BTech/Degree",
        "Explore industry's use of Generative AI ",
        "Course completion certificate",
      ]}
    />

    //Register
    <h2 class="text-2xl font-semibold text-white mb-8 flex justify-center">
      Register Here
    </h2>
    <div class="max-w-md mx-auto p-6 bg-gray-100 rounded-md shadow-md">
      <form action="/register" method="post">
        <div class="mb-4">
          <label for="fullName" class="block text-sm font-medium text-gray-700"
            >Full Name</label
          >
          <input
            type="text"
            name="fullName"
            placeholder="Enter your full name"
            class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
          />
        </div>
        <div class="mb-4">
          <label for="email" class="block text-sm font-medium text-gray-700"
            >Email Address</label
          >
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Enter your email address"
            class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
          />
        </div>
        <div class="mb-4">
          <label for="phone" class="block text-sm font-medium text-gray-700"
            >Phone Number</label
          >
          <input
            type="tel"
            name="phone"
            id="phone"
            placeholder="Enter your phone number"
            class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
          />
        </div>
        <div class="mb-4">
          <label for="education" class="block text-sm font-medium text-gray-700"
            >Education Background</label
          >
          <input
            type="text"
            name="education"
            id="education"
            placeholder="Enter your education background"
            class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
          />
        </div>
        <div class="mb-4">
          <label for="message" class="block text-sm font-medium text-gray-700"
            >Message (if any)</label
          >
          <textarea
            name="message"
            id="message"
            rows="3"
            class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
            placeholder="Enter your message"></textarea>
        </div>
        <div class="flex items-center justify-center">
          <button
            type="submit"
            class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          >
            Register
          </button>
        </div>
      </form>
    </div>

    //testimonals
    <p
      class="text-center mt-40 mb-20 text-3xl font-extrabold text-zinc-900 dark:text-white tracking-tight  "
    >
      Hear what students say
    </p>
    <div class="grid lg:grid-cols-3 gap-8 mx-auto w-11/12">
      <Card
        quote="The coding bridge course was transformative for me. It provided me with the necessary skills to excel in software development, allowing me to build modern applications with confidence. I highly recommend it!"
        author="Victor Campos"
      />
      <Card
        quote="The coding bridge course is invaluable for self-learner developers. It offers a comprehensive overview of current technologies and provides numerous portfolio projects. What I found most beneficial was the supportive learning community, which motivated me to apply for developer positions. Thanks to this course, I secured a full-time job in the field."
        author="Ivan Zulfikar"
      />
      <Card
        quote="Finally, I found an affordable & flexible ONLINE bootcamp where I can manage my time between learning and my family. Fellow students who always help each other & with Flavio himself actively engages with what the student needs help me enormously in my learning journey!"
        author="Brad Alexander"
      />

      <Card
        quote="The coding bridge course provides a personalized learning experience, fostering interaction between the instructor and participants through Discord and online resources. If you're proficient in JavaScript but aiming to advance to the next level, I highly recommend joining this course. It allows you to work at your own pace while benefiting from the support and camaraderie of a diverse community."
        author="Geoff Hollingworth"
      />
      <Card
        quote="I'm thoroughly enjoying the coding bridge course by Flavio. It's packed with invaluable insights and practical knowledge. Having access to a wide range of well-structured JavaScript learning material in one place has been a delight. Thank you, Flavio, for providing such a comprehensive learning experience!"
        author="Pete Roobol"
      />
      <Card
        quote="The coding bridge course taught me invaluable lessons in practical application, theory, and execution. Its well-defined curriculum, complete with projects and examples, provided a comprehensive learning experience. The text-based format was exceptionally effective, and Flavio's constant support made the journey even smoother"
        author="Farkas Attila"
      />

      <Card
        quote="“Finally I found an affordable & flexible ONLINE bootcamp where I can manage my time between learning and my family. Fellow students who always help each other & with Flavio himself actively engages with what student needs help me enormously in my learning journey!”"
        author="Ayu Adiati"
      />
      <Card
        quote="“This course is much more satisfying than General Assembly's JavaScript Development class. Flavio gets into the nitty gritty of how things work and why they work that way. I'm a QA Engineer at a tech startup and I'm learning a lot about the tools that my Engineering team already uses and I think it's helping me to be better at my job. I also really appreciate that you can work on this course at your own pace.”"
        author="Anna Kalil"
      />
      <Card
        quote="“I just wanted to share what a great experience I am having in this bootcamp. I was so nervous to sign up for this, but after a month, I am getting to know some great people from all over who share my enthusiasm for building web apps. In a short time I have already learned a LOT. I love Tailwind CSS, and now that we are beginning the JavaScript portion of the bootcamp, I am even more excited than I was before the class started. Honestly, this has been one of the best decisions I have made. Thanks for all of your efforts to lift us up as pro developers and for giving me a break on the tuition. It is worth every penny and then some!”"
        author="Tom Phillips"
      />

    </div>

    //tweet
    <div class="flex justify-center mt-20 mb-10 haha">
      <blockquote class="twitter-tweet">
        <p lang="en" dir="ltr">
          Flavio is a legend! I would do this if I were jumping into web dev. <a
            href="https://t.co/gTbsCcpK0f">https://t.co/gTbsCcpK0f</a
          >
        </p>&mdash; Daniel Vassallo (@dvassallo) <a
          href="https://twitter.com/dvassallo/status/1606783843398471680?ref_src=twsrc%5Etfw"
          >December 24, 2022</a
        >
      </blockquote>
      <script
        async
        src="https://platform.twitter.com/widgets.js"
        charset="utf-8"></script>
    </div>

    <h2
      class="mt-20 mb-20 text-3xl font-extrabold text-zinc-900 dark:text-white text-center pb-10"
    >
      Frequently asked questions
    </h2>

    <div class="grid lg:grid-cols-3 gap-8 mx-auto w-11/12">
      <SecondCard
        title="Who is this bootcamp for?"
        text="Too many tutorials and little action? This bootcamp is perfect for you. Web development looks complex to you? This bootcamp is perfect for you. You're a frontend dev and you want to get more fullstack/backend skills? This bootcamp is great for you. You're a backend dev and you want to get more frontend skills? This bootcamp is great for you."
      />
      <SecondCard
        title="What's the difference with a $10 Udemy course?"
        text="This is a different thing. It's a cohort-based course. You will have access to a community chat of students that started the course on the same day as you did. This means you have accountability and motivation. Make friends with your fellow class mates to get the most out of the bootcamp, and challenge each other! How many Udemy courses did you buy but never followed through after the first couple lessons? There's no way this bootcamp will end up like the dozens of courses you purchased but never finished."
      />
      <SecondCard
        title="What's the effort required?"
        text="It depends, but I estimate about 1 or 2 hours every week day. Or do 3/4 hours on weekend days. If you do more, it's better because the more time you study, the more things will stick. But that's a start. It's not super intensive, it's a marathon, not a sprint."
      />
      <SecondCard
        title="I want to know the schedule"
        text="The bootcamp is not live. You can adjust it around your school/work/life schedule. I unlock a new module every week. The only thing I ask is to stay on top of the weekly schedule, meaning I will release a new module on Tuesday, complete it by next Tuesday when a new module will unlock. Most students will follow the schedule and you'll find more activity and community support, because everyone is doing those lessons along with you. This is the best way to stay on top of the schedule and complete the bootcamp successfully."
      />
      <SecondCard
        title="What's the format of the lessons?"
        text="Every week to I will unlock multiple modules, each containing various lessons. Lessons are text based. Text is better to parse, to copy code snippets from, search and reference later."
      />
      <SecondCard
        title="Will I get a certificate at the end?"
        text="Yes. Once you finish the course, you ask me the certificate of attendance and I will issue that to you."
      />
      <SecondCard
        title="Do you have a refund policy?"
        text="Yes. You have a no-questions-asked 100% refund if you are not happy with the bootcamp and if you don't think you get value from it, up to 14 days after the start of the Bootcamp. This is also for subscriptions: no refunds after the first 2 weeks."
      />
      <SecondCard
        title="What kind of project will we create?"
        text="We'll work on a very cool project management SaaS app, complete with authentication, permissions, payments, and more. It's a real-world project that will give you a lot of experience and will be a great addition to your portfolio."
      />
      <SecondCard
        title="Will I have access to the course lesson at the end of the bootcamp?"
        text="Yes, they will be yours forever."
      />
       
    </div>
    
// footer 
    <p
      class="mt-20 max-w-4xl mx-auto text-xl flex justify-center mb-20 text-zinc-900 dark:text-zinc-300"
    >
      Questions? <a href="mailto:flavio@flaviocopes.com" class="underline">
        Email me</a
      >!
    </p>
    <div class="mb-20">
      <p class="text-center text-zinc-400">© CODING BRIDGE</p>
    </div>
  </main>
</Layout>
