---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
const base_url = "https://bootcamp.dev";
import Markdown from "./markdown.md"
import Container from "../components/Container.astro";
import Module from "./module.md";
import Imagecontainer from '../components/Imagecontainer.astro';
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
	 <main class = "h-screen">
		<Header />
		<div class="flex justify-center"> <img src=`${base_url}/logos/bootcamp.svg` alt="Bootcamp" class="sm:max-w-xl text-center mx-auto py-10 px-5 lg:max-w-xl mt-0 dark:invert"> </div>
		<h2 class="text-3xl leading-10 font-semibold uppercase tracking-wider max-w-4xl mx-auto mb-10 text-zinc-800 dark:text-white px-3 text-center">
		Learn how to build this web app:
		<img src=`${base_url}/screenshot-light.jpg` class="mx-auto mt-10 rounded-3xl"> 
	        </h2>
		<div class = "w-2/4 text-white mx-auto text-left bg-neutral-800 p-10"> 
		<Markdown />
		</div>
		<Container />
		<div class="relative bg-zinc-50 dark:bg-zinc-800 py-16 sm:py-24 lg:py-32 max-w-3xl mx-auto px-10 mt-10 text-white">
		<Module />
		</div>
		<Imagecontainer />
		<Card />
		 
	 </main>
</Layout>
