---
let { quote = '', author = '' } = Astro.props;
---

<div class="text-left dark:text-zinc-300 max-w-2xl   text-xl bg-zinc-50 rounded-xl dark:bg-zinc-800 dark:hover:bg-zinc-700 p-5">
  <div class="rounded-lg px-2 pb-2">
    <div>
      <p class="mt-2 text-md font-light  dark:text-zinc-200  ">
        {quote}
      </p>
      <h3 class="mt-2 text-md dark:text-white tracking-tight  ">
        {author}
      </h3>
    </div>
  </div>
</div>