<div class="flex space-x-20 justify-center  pt-20">
        <div class="inline-flex items-center px-3 py-2 space-x-2.5">
            <img src="https://bootcamp.dev/code.svg" alt="Code Icon" class="dark:invert w-8" />
            <p class="text-white text-2xl">Schedule</p>
        </div>
        <div class="inline-flex items-center px-3 py-2 space-x-2.5">
            <img src="https://bootcamp.dev/user.svg" alt="User Icon" class="dark:invert w-8" />
            <h1 class="text-white text-2xl">Testimonials</h1>
        </div>
        <div class="inline-flex items-center px-3 py-2 space-x-2.5">
            <img src="https://bootcamp.dev/help-circle.svg" alt="Help Icon" class="dark:invert w-8" />
            <h1 class="text-white text-2xl">FAQ</h1>
        </div>
    </div>
    