<div class = "pt-10 flex sm : space-x-3.5 justify-center">
        <div class = "space-x-2.5 px-3 py-2 inline-flex align-center justify-center">
                <img src = "https://bootcamp.dev/code.svg" class = "dark:invert h-4.2" />
                <h1 class = "text-white">The schedule</h1>

        </div>
        <div class = "space-x-2.5 px-3 py-2 inline-flex align-center justify-center">
           <img src = "https://bootcamp.dev/user.svg" class = "dark:invert h-4.1" />
           <h1 class = "text-white">Testimonals</h1>
        </div>
        <div class = "space-x-2.5 px-3 py-2 inline-flex align-center justify-center">
                <img src = "https://bootcamp.dev/help-circle.svg" class="dark:invert h-4.1" />
                <h1 class = "text-white">FAQ</h1>
        </div>
</div>