---
let { text = [], images = []} = Astro.props;
---
<div class="mt-20 grid grid-cols-3 gap-2   mb-10   dark:text-white ">
  {images.map((image, index) => (
    <div   class="mx-auto mt-10 w-50 ">
      <img loading="lazy" src={image} class="max-w-xs" />
      <p class=" dark:text-white   mt-3">{text[index]}</p>
    </div>
  ))}
</div>
